.container {
  margin: 0 auto 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width:97%;
  height: 110px;
  background-color: $white;
  box-shadow: $box-shadow-container;
  position: relative;
  @media(max-width:1200px) {
    width: 100%;
  }
  @media(max-width: 940px) {
    height: auto;
    flex-wrap: wrap;
  }
  @media(max-width: 768px) {
    flex-direction: column;
  }
}

.container--top {
  margin-top: 20px;
}
