$bg-body: #e7ecf5;
$white: #fff;
$altcoins: #FFBE33;
$main-font: #474747;
$active: #d83550;
$border:  1px solid rgba(151,151,151,0.2);
$gradient: linear-gradient(90deg, #D22D4F 0%, #F86358 100%);
$box-shadow: 0 2px 4px 0 rgba(250,91,30,0.34);
$box-shadow-hover: 0 4px 7px 0 rgba(60,23,10,0.34);
$box-shadow-container: 0 2px 7px 0 rgba(60,23,10,0.34);
$text-shadow: 0 1px 1px 0 rgba(95,95,95,0.3);
$text-shadow-altcoins: 0 1px 1px 0 rgba(153,153,153,0.45);
$border-radius: 4px;
$transition-btn: .3s;
$transition-icon: .5s;

$eye: url('../img/oko.png');
$eye-hover : url('../img/okohover.png');
$balance : url('../img/waga.png');
$balance-hover: url('../img/wagahover.png');