@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
  background-color: #e7ecf5;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width:97%;
  height: 110px;
  background-color: #fff;
}

.altcoins {
    height: 110px;
    width: 26px; 
    background-color: #FFBE33;
    color: #fff;
    /* transform: rotate(-90deg);  */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: -6px; */
    
}

.altcoins__text {
   transform: rotate(-90deg);
   font-size: 14px;
}

.ethereum {
  color: #474747;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 18px 23px;
  width: 25%;
}

.ethereum__title {
	height: 40px;
	width: 199px;
	font-size: 14px;
  line-height: 21px;
  margin-bottom: 6px;
}

.line {
	font-size: 10px;
	line-height: 16px;
  display: flex;
  align-items: center;
}


.line__dot {
	height: 7px;
	width: 7px;
  background-color: #FFBE33;
  border-radius: 50%;
  margin-right: 9.5px;
}

.line__img {
  margin: 3px 6px 0 -3.5px;
 /* margin-top: 3px;
 margin-left: -3.5px; */
}

.cells {
  display: flex;
  align-items: center;
  width: 64%;
  text-align: center;
}

.cell {
  width: 13.41%;
  border-left: 1px solid rgba(151,151,151,0.2);
  padding: 17.5px 0;
}

.cell--last {
  border-right: 1px solid rgba(151,151,151,0.2);
}

.main-cell {
  width: 19.5%;
}

.cell__number {
  font-size: 20px;
}

.cell__number--active {
  color: #d83550;
}

.cell__text {
  font-size: 10px;
  color: #474747;
}


.action {
  width: 9.4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  margin-top: 20px;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  text-shadow: 0 1px 1px 0 rgba(95,95,95,0.3);
  background: linear-gradient(90deg, #D22D4F 0%, #F86358 100%);
  box-shadow: 0 2px 4px 0 rgba(250,91,30,0.34);
  border-radius: 4px;
  padding: 10px 11px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
	background: linear-gradient(90deg, #D22D4F 0%, #F86358 100%);
  box-shadow: 0 4px 7px 0 rgba(60,23,10,0.34);
  transition: 0.3s;
}

.icons {
  margin: 10px 0;
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.action__icon {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.icons__eye {
  background: url('../img/oko.png');
  background-position: center;
}

.icons__eye:hover {
  background: url('../img/okohover.png');
  background-position: center;
  transition: 0.5s;
}

.icons__balance {
  background: url('../img/waga.png');
  background-position: center;
}

.icons__balance:hover {
  background: url('../img/wagahover.png');
  background-position: center;
  transition: 0.5s;
}


@media(max-width: 1200px) {
  .container {
    width: 100%;
    /* flex-wrap: wrap; */
  }

  .altcoins {
    width: 20px;;
  }
}


@media (max-width:940px) {
  .container {
    height: auto;
    flex-wrap: wrap;
    position: relative;
  }

   .ethereum {
    width: 32%;
  }

  .cells {
    width: 65.8%;
  } 

  .altcoins {
    margin-top:-7px;
  }

  /* .altcoins {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  } */
}


@media(max-width:908px) {
  .ethereum {
    width: 29.3%
  }

  .cells {
    width: 68.1%;
  }
}


@media (max-width:768px) {

  .container {
    flex-direction: column;
    height: auto;
    position: relative;
  }

  .altcoins {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin-top:0;
    /* height: 32.3%; */;
  }

  .altcoins__text {
  }

  .ethereum {
    width:95%;
    margin-left: 20px;
  }


  .line--hide {
    display: none;
  }

  .action {
    order:3;
    width: 89%;
    margin-left: 20px;
    margin-top: -25px;
  }

  .btn {
    width: 100%;
  }

  .cells {
    order:4;
    justify-content: center;
    margin-left: 20px;
    width: 89%;
    padding: 15px 0;
    border-top: 1px solid rgba(151,151,151,0.2);
    height: 106px; /**/
  }

  .cell {
    width: 33.33%;
    padding: 15px 0;
    /* margin: 25px 0; */
  }

  .main-cell {
    border-left: none;
  }

  .cell--hide {
    display: none;
  }

  .icons__balance {
    display: none;
  }

  .icons__eye {
    position: absolute;
    top: 0;
    right: 0%;
    margin: 23px 14.5px 0 0;
  }
}

@media (max-width:576px) {

  .action, .cells {
    width:86%;
  }


}

@media (max-width: 375px) {
  .action, .cells {
    width:84%;
  }
}